.web.footer{
	text-align: center;
	background-image: url("img/footer.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	opacity: 0.7;
	bottom: 0px;
	margin-left: -5px;
};

.displaySong{
	z-index:1;
	position:relative;
};

.previous.button{
	z-index:2;
	position:relative;
};

.next.button{
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	border: 5px solid #000000;
};

.previous.button{
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	border: 5px solid #000000;
};

.random.button{
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border: 5px solid #000000;
	
};


