.web.header{
	position: fixed;
	width: 100%;
	background: teal;	
	color: white;
	text-align: center;
	top: 0px;
	.brand{
		font-size: 32px;
	}
	.topMenu{
		font-size: 24px;
	}
	
}

.web.footer{
	position: fixed;
	width: 100%;
	background: teal;
}