.web.header{
	position: fixed;
	width: 100%;
	background-image: url("img/header.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: white;
	text-align: center;
	top: 0px;
	.brand{
		font-size: 32px;
	}
	.topMenu{
		font-size: 24px;
	}
	
}

.web.footer{
	position: fixed;
	width: 100%;
}