// Font families
@font-family-sans-serif: 'Raleway', sans-serif;
@font-family-serif: 'Roboto Slab', serif;

@titles-font-family: @font-family-sans-serif;
@body-font-family: @font-family-serif;

// Colours
@sterinosmisearby: #57A5CC;
@sterinosmisearby2: #3F8DB5;
@Tealby: #2FAFA5;
@Peaceful: #33B0C6;
@hyhbyuby: #22BCBF;


@background-header-color: @sterinosmisearby;
@background-header-a-color: @sterinosmisearby2;
@main-text-color: black;
@main-bg-color: white;

@mobile-width: 768px;
@tablet-width: 992px;
@desktop-width: 1200px;